<div class="container-edit-book-page">
  <h2> <%= @title %> </h2>
  <% if session[:error_message] == 'Wrong user ID in URL.' ||
      session[:error_message] == 'You must be an administrator to edit books.' ||
      session[:error_message] == "Book ID's must be integers." ||
      session[:error_message] == 'The specified book does not exist.'%>
    <div class="flash error">
      <p><%= session.delete(:error_message) %></p>
    </div>
  <% else %>
  <% if session[:error_message] %>
      <div class="flash error">
        <p><%= session.delete(:error_message) %></p>
      </div>
  <% end %>
    <% if session[:success_message] %>
      <div class="flash success">
        <p><%= session.delete(:success_message) %></p>
      </div>
      <div>
   <% end%>
      <form class="form-container-edit-book-info"
      action="/books/admin_user/<%= @user.id %>/book/<%= @book ? @book.id + '/edit' : 'add' %>" method="post">
        <div class="form-row-edit-book-info">
          <label for="title">Title:</label>
          <input name="title"type="text" value="<% if params[:title] %><%= params[:title] %><% elsif @book %><%= @book.title%><% end %>">
        </div>
        <div class="form-row-edit-book-info">
          <label for="author">Author:</label>
          <input name="author"type="text" value="<% if params[:author] %><%= params[:author] %><% elsif @book %><%= @book.author%><% end %>">
        </div> 
        <% if @title == "Edit Book Info" %>
          <div class="form-row-edit-book-info">
            <label for="checked_out">Checked Out:</label>
            <input name="checked_out"type="text" value="<%= params[:checked_out] || @book.checked_out %>">
          </div> 
          <div class="form-row-edit-book-info">
            <label for="checked_out_user_id">ID of Borrower:</label>
            <input name="checked_out_user_id"type="text" value="<%= params[:checked_out_user_id] || @book.checked_out_user_id %>">
          </div> 
          <div class="form-row-edit-book-info">
            <label for="date_checked_out">Date Checked Out(mm/dd/yyyy):</label>
            <input name="date_checked_out"type="date" value="<%= params[:date_checked_out] || @book.date_checked_out %>">
          </div> 
        <% end %>
          <button class="btn" type="submit">Save</button>
      </form>
      <% if @title == "Edit Book Info"%>
        <button class="btn" type="submit" onclick='prevPage()'>Go Back</button>
        <script>
        function prevPage() {
          window.history.back()
        };
        </script>
        <form class="delete" action="/books/admin_user/<%= @user.id %>/book/<%= @book.id %>/delete" method="post"> 
          <button class="btn delete" type="submit">Delete book</button>
        </form>
      <% end %>
      <% if @title == "Add New Book" %>
        <a class='' href="/user/<%= params[:user_id] %>/home"><button class='btn home'>Home</button></a>
      <% end %>
    <% end %>
</div>
  